@model Lunch.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="menu_name" class="control-label"></label>
                <input asp-for="menu_name" class="form-control" />
                <span asp-validation-for="menu_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="first" class="control-label"></label>
                <input asp-for="first" class="form-control" />
                <span asp-validation-for="first" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="second" class="control-label"></label>
                <input asp-for="second" class="form-control" />
                <span asp-validation-for="second" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="salat" class="control-label"></label>
                <input asp-for="salat" class="form-control" />
                <span asp-validation-for="salat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="drink" class="control-label"></label>
                <input asp-for="drink" class="form-control" />
                <span asp-validation-for="drink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_desc" class="control-label"></label>
                <input asp-for="product_desc" class="form-control" />
                <span asp-validation-for="product_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="placeId" class="control-label"></label>
                <select asp-for="placeId" class="form-control" asp-items="ViewBag.placeId"></select>
                <span asp-validation-for="placeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

